.container {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    text-align: center;
}

.scorebox {
    border-radius: 25%;
    box-sizing: border-box;
    position: absolute;
    background-color: #E6ECF0;
    height: 80px;
    width: 80px;
    top: 210px;
    left: 210px;
    text-align: center;
    color: #445261;
    font-size: 3em;
    padding-top: 10px;
}

.button {
    background-color: #FF5A60;
    color: #FFF;
    border: 0;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    top: 550px;
    position: relative;
    font-weight: 600;
}

.light {
    opacity: 0.4;
}