/* Global Styles */
body {
  height:100vh;
  max-width:100%;
  overflow-y: hidden;
  background-color: #fff6f5;
}
details {
    margin-left: 25px;
}
summary {
    font-size:1.5em;
    width:700px;
}
/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header {
  padding: 2px 16px;
  background-color: #fff6f5;
  border: 1px solid #888;
  color: Black;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
    display: grid; /*Adds grid layout for specific allocation of space*/
    grid-template-columns: repeat(12, 1fr); /**/
    gap: 50px;

}
.light {
    opacity: 0.4;
}
.square {
    display: flex;
    place-items: center;
    justify-self: center;
    height: 50px;
    width: 50px;
    border-radius: 25%;
    background-color: #574240;
}
.scorebox {
    border-radius: 8%;
    box-sizing: border-box;
    justify-self: center;
    background-color: #E6ECF0;
    height: 60px;
    width: 120px;
    text-align: center;
    color: #574240;
    font-size: 2em;
    margin: 15px;
    padding-top: 10px;
}
.button {
    background-color: #FF5A60;
    color: #FFF;
    border: 0;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    margin: 20px 0 0 100px;
    font-weight: 600;
    font-size: 1.5em;
}
#game-title {
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #333;
    margin: 50px 30px 40px 0;
    justify-content: center;
}
#instructions {
    grid-column: 1 / span 3;
    grid-row: 1 / span 12;
}
#instructions p {
    margin-left: 25px;
    font-size: 1em;
    width: 300px;
}
#leaderboards {
    grid-column: 8 / span 3;
    grid-row: 1 / span 12;
    font-size: 1em;
}
#leaderboards h2 {
    margin: 0 !important;
}
#button1, #button4, #button7 {
    grid-column: 5 / span 1;
}
#button2, #button5, #button8 {
    grid-column: 6 / span 1;
}
#button3, #button6, #button9 {
    grid-column: 7 / span 1;
}
#button1, #button2, #button3 {
    grid-row: 1 / span 1;
}
#button4, #button5, #button6 {
    grid-row: 2 / span 1;
}
#button7, #button8, #button9 {
    grid-row: 3 / span 1;
}
#hiddenBox {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
    height: 60px;
    width: 120px;
    opacity: 0;
}
#score {
    grid-column: 6 / span 1;
    grid-row: 4 / span 1;
}
#tryCount {
    grid-column: 7 / span 1;
    grid-row: 4 / span 1;
}
#new-game {
    grid-column: 5 / span 3;
    grid-row: 5 / span 2;
    justify-self: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    #game-title {
        font-size: 2em;
    }
    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 10px;
    }
    #instructions {
        grid-column: 1 / span 6;
        grid-row: 1 / span 2;
    }
    #button1, #button4, #button7 {
        grid-column: 2 / span 1;
    }
    #button2, #button5, #button8 {
        grid-column: 3 / span 1;
    }
    #button3, #button6, #button9 {
        grid-column: 4 / span 1;

    }
    #button1, #button2, #button3 {
        grid-row: 4 / span 1;
    }
    #button4, #button5, #button6 {
        grid-row: 5 / span 1;
    }
    #button7, #button8, #button9 {
        grid-row: 6 / span 1;
    }
    #hiddenBox{
        grid-column: 2 / span 1;
        grid-row: 7 / span 1;
    }
    #score {
        grid-column: 3 / span 1;
        grid-row: 7 / span 1;
    }
    #tryCount {
        grid-column: 4 / span 1;
        grid-row: 7 / span 1;
    }
    #leaderboards {
        grid-column: 1 / span 6;
        grid-row: 3 / span 2;
        font-size: 1.2em;
    }
    #new-game {
        grid-column: 2 / span 3;
        grid-row: 8 / span 2;
        justify-self: center;
    }
}
@media (max-width: 480px) {
    #game-title {
        font-size: 1.5em;
    } 
    .scorebox {
        height: 60px;
        width: 120px;
        font-size: 1em;
    }

    .container {
        grid-template-columns: repeat(5, 0.5fr);
        grid-template-rows: repeat(9, 0.5fr);
        gap: 5px;
    }
    .square {
        height: 50px;
        width: 50px;
    }
    #instructions {
        grid-column: 2 / span 4;
        grid-row: 1 / span 2;
    }
    #button1, #button4, #button7 {
        grid-column: 2 / span 1;
    }
    #button2, #button5, #button8 {
        grid-column: 3 / span 1;
    }
    #button3, #button6, #button9 {
        grid-column: 4 / span 1;
    }
    #button1, #button2, #button3 {
        grid-row: 5 / span 1;
    }
    #button4, #button5, #button6 {
        grid-row: 6 / span 1;
    }
    #button7, #button8, #button9 {
        grid-row: 7 / span 1;
    }
    #hiddenBox{
        grid-column: 2 / span 1;
        grid-row: 8 / span 1;
        height: 70px;
        width: 70px;
    }
    #score {
        grid-column: 3 / span 1;
        grid-row: 8 / span 1;
        height: 70px;
        width: 70px;
    }
    #tryCount {
        grid-column: 4 / span 1;
        grid-row: 8/ span 1;
        height: 70px;
        width: 70px;
    }
    #leaderboards {
        grid-column: 2 / span 4;
        grid-row: 3 / span 3;
        font-size: 1em;
    }
    #new-game {
        grid-column: 2 / span 2;
        grid-row: 9 / span 2;
        justify-self: center;
    }
}
